# Python Basics
1. Variables
1. Data types
1. Basic Data types
1. Python specific Data types (Sequence Data Types)

#1. Variables

### Python as a Calculator - No Variables
![p1.png]()

In [1]:
2+3

5

In [2]:
5-2

3

In [3]:
3*2

6

In [9]:
8/2

4

In [10]:
3%4

3

#1. Variables
### Python as a Calculator - With Variables

In [ ]:
# 2+3
a=2
b=3
a+b

5

In [7]:
#5-2

p= 3*2

q=3/4
r=p+q
print(r)

6.75

## Variables on Text (String)

In [8]:
a='IIIT Kottayam'
a

'IIIT Kottayam'

In [9]:
institute="IIIT Kottayam"
institute

'IIIT Kottayam'

### **1_Practice_Example:** Write the python code to store your name and age into variable **my_name** and **my_age** respectively.

In [11]:
# Example-1
# Type your code in the blank space
# Store your name
my_name="Madhura Gangaiah"

# Store your age

my_age=41 
print(my_name)
print(my_age)

Madhura Gangaiah
41

## **2. Python Input and Output**


*   Input - **input()** \\
*   Output - **print()**

#### **2.1 Python - output fucntion - print()**

In [14]:
print('AICTE-QIP-IIIT Kottayam')

AICTE-QIP-IIIT Kottayam

In [15]:
print(5)

5

In [16]:
institute="IIIT Kottayam"
print(institute)

IIIT Kottayam

In [17]:
print('My Institute name is ', institute)

My Institute name is  IIIT Kottayam

### **2_Practice_Example:** Write the python code for the following.

*   Store your name and age into variable **my_name** and **my_age**
respectively.

*   Print the name and age using **print** statement.

In [18]:
# Example-2
#Type your code here

# Store your name
my_name="Madhura"

# Store your age
my_age= 41

# Print your name
print("My name is: ",my_name)

# Print your age
print("My age is: ",my_age)

My name is:  Madhura
My age is:  41

#### **2.2 Python - input fucntion - input()** - used to get data from the user. It will be considered **string datatype** even if you type any number.

In [19]:
# Method-1
# Taking input from the user
name=input()

 Rajesh

In [20]:
type(name)

str

In [23]:
# Method-2
# Taking input from the user
name=input("Enter your name:")
print(type(name))

Enter your name: Madhura

<class 'str'>

### **3_Practice_Example:** Write the python code for the following.

*   User enter your name and institution into variable **my_name** and **my_institute**
respectively. (**Hint:** You must use **input()** fuction)

*   Print the name and institution using **print** statement.

In [24]:
# Example-3
# Type your code here

# Enter your name
my_name="Madhura"

# Enter your institute name
my_institute="BGSCET"

# Print your name
print(my_name)

# Print your institute name
print(my_institute)

Madhura
BGSCET

In [30]:
# Method-3 - To enter a number from the user
age=input()

 ds

In [31]:
type(age)

str

In [29]:
# Enter 2 numbers from the user at run time
a=int(input())
b=int(input())
print(type(a))
print(a+b)   # It performs string concatenation not number addition

 2
 3

<class 'int'>
5

## To convert string to number use the respective number data type (int, float, etc.,)

In [32]:
# Enter 2 numbers from the user at run time and coverting to int data type
a=int(input())
b=int(input())
print(type(a))

 32
 23

<class 'int'>

In [35]:
# Add the above two numbers
# 32+43
a=int(input("enter num1"))
b=int(input("enter num2"))

print(a+b)

enter num1 3
enter num2 4

7

### **4_Practice_Example:** Write the python code for the following.

*  Enter the amount that you spend for breakfast, lunch and dinner on 29-06-2025. Assume **70, 140.5** and **90** rupees that you paid for the same. (**Hint**: Use **input()** function and coversion **datatype**)
* Compute the total amount by **adding** the amount that you spent and store the result into a variable called **total_amount**.

*   Print the total cost computed from the previous step using **print** statement.

In [36]:
# Example-4
# Type your code here

# Enter the amount that you spend for breakfast, lunch and dinner.
breakfast=int(input('Enter the amount for breakfast='))
lunch=int(input('Enter the amount for lunch='))
dinner=int(input('Enter the amount for dinner='))

# Add the above amount
total_amount=breakfast+lunch+dinner

# Print the total cost
print("total cost is",total_amount)

Enter the amount for breakfast= 124
Enter the amount for lunch= 125
Enter the amount for dinner= 200

total cost is 449

## To convert string to number use the **eval()** funtion

In [39]:
# Enter 2 numbers from the user at run time and coverting to int data type
a=eval(input())
b=eval(input())
print(type(a))
print(a+b)

 madhura

NameError: name 'madhura' is not defined

### **5_Practice_Example:** Write the python code for the following.

*  Enter the amount that you spend for breakfast, lunch and dinner on 29-06-2025. Assume **70, 140.5** and **90** rupees that you paid for the same. (**Hint**: Use **input()** function and **eval()** function)
* Compute the total amount by **adding** the amount that you spent and store the result into a variable called **total_amount**.

*   Print the total cost computed from the previous step using **print** statement.

In [ ]:
# Example-5
# Type your code here

# Enter the amount that you spend for breakfast, lunch and dinner.
breakfast=eval(input('Enter the amount for breakfast='))
lunch=_____________
dinner=_______________

# Add the above amount
total_amount=_____________

# Print the total cost
___________________

## **2. Python Data Types**

![image.png]()

![image.png]()

### 2.1 Numeric data type - **int, float, complex** & 2.2 String data type - **string**

In [11]:
# Numeric data type
x = 10
print( type(x) )

x = 10.5
print( type(x) )

x = 1 + 2j
print( type(x) )

x = "Hello Python"
print( type(x) )

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

### 2.3 Boolean datatype

In [12]:
#these both are 'booleans' or true/false values
is_it_Monday = True
is_it_Wednesday = False

print(type(is_it_Monday))
print(type(is_it_Wednesday))

<class 'bool'>
<class 'bool'>

In [1]:
# To know address of the variables
a=100
b=500
print('Address of a=',id(a))
print('Address of b=',id(b))

Address of a= 10760904
Address of b= 132229269639504

In [2]:
# To know address of the variables
a=100
b=100
print('Address of a=',id(a))
print('Address of b=',id(b))

Address of a= 10760904
Address of b= 10760904

In [4]:
a= input()
b= input()

c=int(a)
d= int(b)
y=a+b
z=c+d
print(y)
print(z)

 2
 3

23
5

In [7]:
# Variable creation 
team1="Liverpool"
team2="Chelsea"
score1=4
score2=3
print(team1, "versus", team2)
print("Final Score:",score1, "to", score2)

Liverpool versus Chelsea
Final Score: 4 to 3

In [9]:
#len()

arr=input()
print(len(arr))

 Madhura

7

In [16]:
import math
s= -math.pi
print(s)

-3.141592653589793

In [17]:
s = 4+5.6
print(s)

9.6

In [18]:
type(s)

float

In [20]:
d=int(s)
print(d)

9

In [22]:
people = int(input())
slices = float(input())
pizzas = int(people*slices/8)
print("about",pizzas,'are needed')

 4
 4

about 2 are needed

In [1]:
#print n times 
str1= input()
str2= input()
count = (input())
res= str1+""+str2+"\n"
print(res*count)

 mad
 hura
 3

TypeError: can't multiply sequence by non-int of type 'str'

In [5]:
import math 
x= int(input())
y=(math.factorial(x))
y

 8

40320

In [8]:
import math 
x= int(input())
y=int(input())
z=(math.gcd(x,y))
print("gcd of x,y" ,z)

 8
 4

gcd of x,y 4

In [10]:
import math 
x1= int(input())
x2= int(input())
y1=int(input())
y2= int(input())
z = math.sqrt((x2-x1)**2+(y2-y1)**2)
print("Eucledian distance" ,z)

 4
 5
 3
 2

Eucledian distance 1.4142135623730951

In [3]:
#area and volume of cylinder
import math 
r= int(input("enter radius of cyliner:"))
h= int(input("enter height of cyliner:"))
r1= math.tau
A=(r1*r*h+r1*r**2)
V= math.pi*r**2*h
print("area of cylinder", A)
print("volume of cylinder", V)

enter radius of cyliner: 1
enter height of cyliner: 2

area of cylinder 18.84955592153876
volume of cylinder 6.283185307179586

In [6]:
#find largest of two numbers 
a=int(input())
b=int(input())
if(a>b):
    print("a is the largest")
else:
    print("a is the smallest")

 4
 5

a is the smallest

In [13]:
#find largest of 3 numbers 
a=int(input())
b=int(input())
c=int(input())
if(a>=b and a>=c):
    print("a is the largest")
elif(b>=c):
    print("b is the largest")
else:
    print("c is the largest")

 7
 5
 4

a is the largest

In [14]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))

# Find the largest using ternary operators
largest = a if (a > b and a > c) else (b if b > c else c)

# Output the result
print("The largest number is:", largest)

Enter first number:  12
Enter second number:  8
Enter third number:  4

The largest number is: 12.0

In [28]:
#find the number is positive or negative 
num = float(input("Enter a number: "))

# Using nested if to check sign
if num != 0:
    if num > 0:
        print("The number is positive.")
    else:
        print("The number is negative.")
else:
    print("The number is zero.")

Enter a number:  -9

The number is negative.